<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= "Hello, World!".toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint accusantium, id ex ut commodi rem cum, maxime omnis officia itaque facere sapiente praesentium aut dolore et eum ab dolorum.
    Et, dolor voluptates similique velit sint nemo necessitatibus, est eligendi perspiciatis molestiae placeat in quod officiis ad. Temporibus ipsam distinctio nostrum, unde voluptate consequuntur exercitationem dolorem praesentium reprehenderit fuga expedita.
    Optio expedita aperiam numquam itaque odio voluptatem a totam. Culpa nesciunt quos fugiat ducimus tempora facilis maxime repellat accusamus? Atque nihil praesentium magnam temporibus veritatis. Ex vel sunt ea officia?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dignissimos nobis soluta cupiditate omnis dolores, magni ipsam, modi obcaecati quod quo cum culpa vitae pariatur ab facere vel quas tempora.</p>
</body>
</html>