body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    /* em corresponds to the font-size set by the font */
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.30s, color 0.30s, box-shadow 0.30s, transform 0.30s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}